<%inherit file="../base.html"/>
<h1>${self.pagename()}</h1>
% if not contacts:
    <p>You have no contacts yet</p>
% endif

<ul>
% for contact in contacts:
    <li>${self.userlink(contact['username'])}</li>
% endfor
</ul>

<h2 id="find-user">Find a User</h2>
<form method="POST" action="/users/search/">
    ${self.errormsg('username')}
    <p><label for="username">Username</label><input type="text" name="username" id="username"></p>
    <p><input type="submit" value="Find User"></p>
</form>

<%def name="pagename()">
Contacts
</%def>